@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";
.font-inter {
	font-family: "Inter", sans-serif;
}

.max-w-app {
	@apply max-w-[1128px];
}

.custom-radio-button {
	@apply w-[23px] h-[23px] text-red-500 border-gray-100 focus:ring-none;
}

.radio-checked {
	position: relative;
}

.radio-checked::after {
	content: "";
	inset: 7px;
	position: absolute;
	background: #000;
	border-radius: 100%;
}

.CheckboxRoot {
	background-color: white;
	width: 25px;
	height: 25px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 10px var(--black-a7);
}
.CheckboxRoot:hover {
	background-color: var(--violet-3);
}
.CheckboxRoot:focus {
	box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
	color: var(--violet-11);
}
