---
import HeroSection from "../components/hero-section.astro";
import IfYouSection from "../components/if-you-section.astro";
import RequirementsSection from "../components/requirements-section.astro";
import SalarySection from "../components/salary-section.astro";
import SchemaSection from "../components/schema-section.astro";
import SurveySection from "../components/survey-section.astro";
import WeSection from "../components/we-section.astro";
import WhySection from "../components/why-section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div
		class="fixed z-100 bg-black inset-0 text-white text-7xl text-center grid place-items-center"
	>
		Under construction
	</div>
	<HeroSection />
	<IfYouSection />
	<WhySection />
	<WeSection />
	<SchemaSection />
	<RequirementsSection />
	<SalarySection />
	<SurveySection />
</Layout>
