---
import CrmForm from "../components/crm-form.tsx";
import HeroSection from "../components/hero-section.astro";
import IfYouSection from "../components/if-you-section.astro";
import RequirementsSection from "../components/requirements-section.astro";
import SalarySection from "../components/salary-section.astro";
import SchemaSection from "../components/schema-section.astro";
import SurveySection from "../components/survey-section.astro";
import WeSection from "../components/we-section.astro";
import WhySection from "../components/why-section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<HeroSection />
	<IfYouSection />
	<WhySection />
	<WeSection />
	<SchemaSection />
	<RequirementsSection />
	<SalarySection />
	<SurveySection />
	<div class="bg-white flex flex-row justify-center items-center pb-20">
		<img src="/footer-logo.png" alt="Footer Logo" />
	</div>
</Layout>
