---
import Logo from "../assets/logo.svg";
---

<header
    class="flex flex-row items-stretch justify-between w-full pt-[23px] px-5"
>
    <div class="flex items-center justify-center">
        <Logo />
    </div>
    <a
        href="#"
        class="text-sm lg:text-lg font-(inter bold) px-[21px] py-[14px] bg-white rounded-full"
        >Заполни заявку</a
    >
</header>
