---
import Logo from "../assets/logo.svg";
---

<header
	class="flex flex-row items-stretch justify-between w-full pt-[23px] px-5 lg:px-0 pb-[16px] max-w-app"
>
	<div class="flex items-center justify-center">
		<Logo />
	</div>
	<a
		href="#survey-section"
		class="text-sm lg:text-lg font-(inter bold) px-[21px] py-[14px] bg-white rounded-full"
		>Заполни заявку</a
	>
</header>
