---
import { Image } from "astro:assets";
import Rombus from "../assets/rombus.svg";
---

<section class="flex flex-col items-center relative space-y-[14px]">
	<div
		class="bg-black/20 mx-5 px-[30px] pt-[30px] rounded-4 absolute inset-0 -z-20"
	>
	</div>
	<div class="text-white mx-5 px-[30px] pt-[30px]">
		<h1 class="font-bold text-[38px]/[100%]">
			Предлагаем тебе <span class="text-accent"
				>стать партнером Стекло24</span
			>
		</h1>
		<h2 class="text-[21px]/[100%] mt-.5 mb-.75">
			И зарабатывать <br /><b
				>1,000,000<span class="text-accent">₽</span></b
			> в месяц*
		</h2>
		<p class="opacity-70">
			Хочешь узнать куак это работает <br /> и что нужно делать?
		</p>
	</div>

	<div class="relative w-full h-[390px] overflow-hidden">
		<Rombus class="absolute inset-0 top-auto w-full -z-10" />
		<Image
			class="absolute top-0 right-0"
			src="/glass-man.png"
			alt="glass man"
			width={342}
			height={464}
		/>
		<p
			class="absolute inset-x-2 bottom-[20px] top-auto w-full opacity-70 z-10 text-(white center)"
		>
			*Средняя сумма дохода, включая <br />"мёртвые сезоны" и праздники
		</p>
	</div>
</section>
