---
import InstallCard from "./install-card.astro";
import SkillBlock from "./skill-block.astro";
import WeChooseYou from "./we-choose-you.astro";
---

<section class="flex flex-col bg-white pt-[33px] lg:pt-[142px] items-center">
	<div class="px-5 max-w-app">
		<h1 class="text-[34px]/[1]">
			Если ты <b>опытный монтажник</b>
			<br class="max-lg:hidden" /> изделий из стекла и зеркал
		</h1>
		<h2 class="font-bold flex flex-row items-center gap-x-3 text-[21px]">
			<span class="text-accent text-[44px]">01</span> Умеешь устанавливать
		</h2>

		<div
			class="grid grid-cols-2 md:grid-cols-4 gap-x-5 gap-y-[26px] mb-[30px]"
		>
			<InstallCard img="/bathroom.webp" title={`Душевые\nперегородки`} />
			<InstallCard img="/mirrors.webp" title="Зеркала и панно" />

			<InstallCard
				img="/glass-doors.webp"
				title={`Стеклянные двери \nи перегородки`}
			/>

			<div class="flex flex-col gap-[10px]">
				<div
					class="text-white grid place-items-center bg-[#373A40] aspect-square rounded-[4px] p-4 max-w-[300px]"
				>
					Не говоря уже <br /> о мелочах вроде фартуков <br />и полок
				</div>

				<p class="text-base whitespace-pre-wrap">{""}</p>
			</div>
		</div>

		<h2 class="font-bold flex flex-row items-center gap-x-3 text-[21px]">
			<span class="text-accent text-[44px]">02</span>И кроме того у тебя
			есть
		</h2>

		<div class="grid grid-cols-1 lg:grid-cols-3 gap-[30px] mb-[45px]">
			<SkillBlock
				img="/ruler.webp"
				title={`Опыт самостоятельных \nзамеров`}
			/>
			<SkillBlock
				img="/calendar.webp"
				title={`Готовность посвятить работе \n5 дней в неделю`}
			/>
			<SkillBlock
				img="/man-with-toolbox.webp"
				title="Инструмент и напарник"
			/>
		</div>

		<div class="lg:hidden">
			<h2
				class="font-bold flex flex-row items-center gap-x-3 text-[21px] px-[15px] border-(1 dashed [#909090]) rounded-[9px]"
			>
				<span class="text-accent text-[44px]">03</span> То ты нам подходишь
			</h2>

			<SkillBlock
				img="/check.png"
				title="Заполни заявку и мы с тобой свяжемся"
			/>

			<a
				href="#survey-section"
				class="bg-accent w-full py-[14px] rounded-full font-bold text-[18px] mt-[19px] block flex flex-row items-center justify-center"
				>Заполни заявку</a
			>
		</div>

		<WeChooseYou />
	</div>
</section>
