---
import Requirement from "./requirement.astro";
---

<section class="bg-white">
	<div class="px-5 pt-[50px] max-w-[1128px] mx-auto">
		<h1 class="text-[34px] leading-[1] text-center mb-6">
			Что нам нужно <br /><b>от тебя?</b>
		</h1>

		<Requirement
			img="/suitcase.png"
			alt="стать ИП"
			className="mb-[30px]"
			title="Стать ИП"
			description="самозанятость не подойдёт"
		/>
		<Requirement
			img="/contract.png"
			alt="стать ИП"
			className="mb-[51px]"
			title="Заключить договор"
			description="Ведь это всегда важно"
		/>
		<Requirement
			img="/study.png"
			alt="стать ИП"
			title="Пройти обучение"
			description="Занимает 1-2 дня вместе с подключением к сервису"
		/>

		<hr class="mb-[29px] mt-[34px] border-[#C1C1C1] border-1" />

		<h1 class="text-[34px]/[1] font-bold text-center mb-[13px]">
			Как только выполнены эти три простых условия
		</h1>
		<h2 class="text-center text-[21px]/[1] mb-[22px]">
			Ты начинаешь получать заявки и уже в первый день можешь получить
			оплату
		</h2>
		<div
			class="bg-accent-light px-[34px] py-[26px] rounded-[20px] space-y-[10px]"
		>
			<h3 class="text-[21px]/[1] font-bold">
				Подключаем не больше <br />3 новых бригад в месяц
			</h3>
			<p class="text-base/[1.25]">
				Почему так? Потому что нам действительно важно, чтобы и ты
				остался доволен условиями и мы получили качественную и слаженную
				бригаду, которая умеет грамонтно работать с нашими заявками
			</p>
		</div>
		<button
			class="bg-accent w-full py-[14px] rounded-full font-bold text-[18px] mt-[25px]"
			>Заполни заявку</button
		>
	</div>
</section>
