<section class="bg-white">
	<div
		class="space-y-[22px] max-md:px-5 pt-[56px] lg:pt-[152px] overflow-x-auto max-w-app mx-auto"
	>
		<h1 class="text-[34px]/[1] xl:text-[64]">
			Давайте сравним <b> возможности заработка</b>
		</h1>

		<table class="[&_.steklo-col]:px-[20px]">
			<colgroup>
				<col class="" />
				<col class="" />
				<col class="" />
				<col class="bg-accent" />
			</colgroup>
			<thead
				class="text-left [&_th]:(pt-[30px] px-[12px] pb-4 rounded-t-[12px])"
			>
				<tr>
					<th></th>
					<th>Наёмный монтажник</th>
					<th>Сам на себя</th>
					<th class="steklo-col">Партнер СТЕКЛО24</th>
				</tr>
			</thead>
			<tbody
				class="[&_.row-name]:(font-bold pl-0) [&_td]:(py-[15px] px-[12px] border-y)"
			>
				<tr>
					<td class="row-name">Средний доход в месяц</td>
					<td>120 000 руб.</td>
					<td>200 000 руб.</td>
					<td class="steklo-col">1 000 000 руб.</td>
				</tr>
				<tr>
					<td class="row-name">Монтажей в месяц</td>
					<td>40-50</td>
					<td>10-15</td>
					<td class="steklo-col">20-25</td>
				</tr>
				<tr>
					<td class="row-name">График</td>
					<td>Зависит от начальства</td>
					<td>Вынужден полностью постраиваться под клиента</td>
					<td class="steklo-col"
						>Сам планируешь собственную загрузку</td
					>
				</tr>
				<tr>
					<td class="row-name">Деньги</td>
					<td
						>Зарплата может быть с задержкой и только после того,
						как объект полностью сдан</td
					>
					<td
						>Платежи полностью непредсказуемы, возможны долгие
						периоды без денег</td
					>
					<td class="steklo-col"
						>Заявки поступают ежедневно, оплаты от клиента приходят
						к тебе на счет сразу, напрямую</td
					>
				</tr>
				<tr>
					<td class="row-name">Сложности</td>
					<td
						>Тебя могут оштрафовать за ошибку монтажа и бой
						материала</td
					>
					<td
						>Ты находишься в полной зависимости от клиента, он может
						тебе недоплатить, в некоторых случаях угрожать полицей,
						судом или налоговой</td
					>
					<td class="steklo-col"
						>Ты работаешь по четкому алгоритму, твои риски сведены к
						минимуму, с тобой в команде менеджеры и юристы</td
					>
				</tr>

				<tr>
					<td class="row-name">Взаимодействие с производством</td>
					<td
						>Зачастую ты как представитель фирмы вынужден краснеть
						за задержки заказа на производстве, ошибки в
						комплектации фурнитуры, брак изделий, ошибки замера</td
					>
					<td
						>Производство, где ты размещаешь заказы, может задержать
						заказ, сделать его плохо, оно не заинтересовано в твоём
						успехе</td
					>
					<td class="steklo-col rounded-b-[12px]"
						>Производство полностью нацелено на совместный
						результат, качественные изделия выходят точно в срок</td
					>
				</tr>
			</tbody>
		</table>
	</div>
</section>
