---
import {Image} from 'astro:assets';
type Props = {
	img: string;
	title: string;
};

const { img, title } = Astro.props;
---

<div class="space-y-3">
	<Image
		src={img}
		alt=""
		width={1340}
		height={950}
		class="lg:h-[231px] object-bottom object-contain"
	/>
	<p class="text-center text-[21px] whitespace-pre-line lg:text-left">
		{title}
	</p>
</div>
