---
import { Image } from "astro:assets";
---

<section class="pt-[48px] lg:pt-[160px] bg-white px-5 pb-[82px]">
	<div class="max-w-app">
		<h1 class="text-[34px] leading-[1] mb-[14px] lg:text-[64px]">
			Мы - компания <b>СТЕКЛО24</b>
		</h1>
		<p class="mb-[18px] text-base lg:text-[20px]">
			Давайте познакомимся поближе. Хотя, если вы уже давно работаете с <br
				class="max-lg:hidden"
			/>
			изделиями из стекла, то точно про нас слышали.
		</p>
		<div
			class="grid grid-cols-2 lg:grid-cols-3 gap-x-[10px] gap-y-[10px] mb-[13px]"
		>
			<Image
				src="/steklo-1.png"
				alt="steklo-1"
				width={360}
				height={236}
				class="rounded-[4px] order-1 w-full"
			/>
			<Image
				src="/steklo-2.png"
				alt="steklo-2"
				width={360}
				height={236}
				class="rounded-[4px] order-2 w-full"
			/>
			<Image
				src="/steklo-3.png"
				alt="steklo-3"
				width={360}
				height={236}
				class="rounded-[4px] order-3 w-full"
			/>
			<Image
				src="/steklo-4.png"
				alt="steklo-4"
				width={360}
				height={236}
				class="rounded-[4px] order-4 w-full"
			/>
			<Image
				src="/steklo-5.png"
				alt="steklo-5"
				width={360}
				height={236}
				class="rounded-[4px] order-5 w-full"
			/>
			<div
				class="order-6 lg:order-3 p-3 lg:py-[31px] lg:px-[30px] space-y-[11px] bg-accent rounded-[4px] lg:rounded-[9px] text-base/[1.04] lg:text-[24px] flex flex-col justify-center font-bold"
			>
				<p>Да-да, это наше реальное производство</p>
				<p class="max-md:hidden font-normal text-base">
					Нам даже пришлось нанять человека с квадрокоптером, потому
					что оно не влазило в кадр обычного фотоаппарата
				</p>
			</div>
		</div>
		<p class="text-sm lg:hidden">
			Нам даже пришлось нанять человека с квадрокоптером, потому что оно
			не влазило в кадр обычного фотоаппарата
		</p>
		<dl
			class="mt-[38px] mt-[50px] grid grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-[27px] lg:gap-y-[30px] lg:gap-x-[24px] [&_dt]:(font-bold text-[24px] lg:text-[44px] leading-[1]) [&_dd]:(text-base lg:text-[24px] whitespace-pre-line)"
		>
			<div>
				<dt>14 лет</dt>
				<dd>В стекоьном <br /> бизнесе</dd>
			</div>
			<div>
				<dt>2500 кв.м</dt>
				<dd>прозводственных площадей</dd>
			</div>
			<div>
				<dt>20 единиц</dt>
				<dd>Своего производственного оборудования</dd>
			</div>
			<div>
				<dt>1000+ заказов</dt>
				<dd>Среднее <br /> количество в <br />месяц</dd>
			</div>
			<div>
				<dt>Более 2000</dt>
				<dd>
					<a
						href="#"
						class="text-[#1C6FFF] underline hover:opacity-80"
						>Благодарных отзывов</a
					> реальных клиентов
				</dd>
			</div>
			<div>
				<dt>40 видов стекла и зеркал</dt>
				<dd>Всегда в наличии, складские мощности на 100+ ящиков</dd>
			</div>
		</dl>
	</div>
</section>
