---
import { Image } from "astro:assets";
---

<section class="bg-white px-5 flex flex-col">
    <h1 class="text-[34px] mb-[14px]">Зачем мы ищем <b>монтажников?</b></h1>
    <h2 class="text-[21px] font-bold">Если очень просто: Заказов больше, чем мы успеваем самостоятельно установить.</h2>
    <p class="whitespace-pre-line">
    В прошлом году наша компания решила сосредоточиться на производственных заказах, а заявки клиентов на изготовление зеркал, душевых, панно и перегородок передавать своим монтажникам.

    Так сформировалось взаимовыгодное партнерство: монтажники получили возможность выполнять заказы полностью самостоятельно и получать максимальное вознаграждение,  клиенты довольны работой с единственным исполнителем, а производство может сосредоточиться на качестве продукции и сроках без лишних отвлечений!
    </p>
    <Image
        src="/toolbox.png"
        alt={"toolbox"}
        width={300}
        height={200}
        class='mt-9 items-center'
    />
</section>
