---
import { Image } from "astro:assets";
---

<section class="bg-white px-5 flex flex-col pt-[51px]">
	<div class="mx-auto max-w-app">
		<h1 class="text-[34px] lg:text-[64px] mb-[14px]">
			Зачем мы ищем <b>монтажников?</b>
		</h1>
		<div class="grid grid-cols-1 lg:grid-cols-2 items-start">
			<div class="mb-7">
				<h2
					class="text-[21px] lg:text-[34px]/[1] font-bold mb-[28px] lg:mb-[40px]"
				>
					Если очень просто: Заказов больше, чем мы успеваем
					самостоятельно установить.
				</h2>
				<p class="whitespace-pre-line lg:text-[20px]/[1] lg:w-11/12">
					{
						`В прошлом году наша компания решила сосредоточиться на производственных заказах, а заявки клиентов на изготовление зеркал, душевых, панно и перегородок передавать своим монтажникам.

						Так сформировалось взаимовыгодное партнерство: монтажники получили возможность выполнять заказы полностью самостоятельно и получать максимальное вознаграждение, клиенты довольны работой с единственным исполнителем, а производство может сосредоточиться на качестве продукции и сроках без лишних отвлечений!`
					}
				</p>
			</div>
			<Image
				src="/toolbox-lg.webp"
				alt={"toolbox"}
				width={335 * 2}
				height={320 * 2}
				class="items-center max-md:hidden -translate-y-[40px]"
			/>
			<Image
				src="/toolbox-sm.webp"
				alt={"toolbox"}
				width={335 * 2}
				height={320 * 2}
				class="items-center lg:hidden"
			/>
		</div>
	</div>
</section>
