---
import { Image } from "astro:assets";
import Header from "../components/header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>
    <body>
        <Image
            class="fixed h-[801px] top-[-10px] object-cover bg-black object-[35%_70%] -z-100"
            src="/background.png"
            alt="background"
            width={2661}
            height={1597}
        />
        <Header />
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        @apply font-inter;
    }
</style>
